<!DOCTYPE html>

<html lang="en">
<head>
  <title>Science Game</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/uploads/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/group.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">


    <!-- Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="/js/lib/underscore-min.js" type="text/javascript"></script>
    <script src="/js/lib/notify.min.js" type="text/javascript"></script>

    <!-- Initial Scripts -->
    <script src="/js/group/rules.js"></script>
</head>
<!-- onload="document.getElementById('game_frame').contentWindow.startIframeORgetIframe();" -->
<body style="background:#EBECF0">

<!-- GROUP NAME -->
<input type="hidden" name="" id="groupName" value="<%= groupName %>">
<!-- PARTICIPANT NAME -->
<input type="hidden" name="" id="username" value="<%= username %>">
<!-- ########################## IMAGES FOR NEIGHBOURS ######################### -->
<div id="images-div" style="display:none">
  <!-- NEIGHBOUR 1 (what the guy who enters first see) -->
  <div class="neighb-images" id = "images-user1" style="display:none">
    <!-- You side -->
    <div class="imagesDivisions" id = "you-imagesDivisions-1">
      <!-- Title -->
      <div class="image-title">
        These are your choices<br>
      </div>

      <div class="image-division" >
        <!-- image -->
        <iframe src="/zendo_iframe1.html" width=800 height=500 id="you-image-user1" name="game_frame_you-image-user1" tabindex="0"></iframe>
      </div>
    </div>

    <!-- Other side -->
    <div class="imagesDivisions" id = "other-imagesDivisions-1">
      <!-- Title -->
      <div class="image-title">
        These are <strong id = "user1-other-name"></strong>'s choices <br>
      </div>

      <!-- image -->
      <div class="image-division">
        <iframe src="/zendo_iframe1.html" width=800 height=500 id="other-image-user1" name="game_frame_other-image-user1" tabindex="0"></iframe>
      </div>
    </div>


  </div>


  <!-- NEIGHBOUR 2 (what the guy who enters second see) -->
  <div class="neighb-image" id = "images-user2" style="display:none">
    <!-- You side -->
      <div class="imagesDivisions" id = "you-imagesDivisions-2">
        <!-- Title -->
        <div class="image-title">
          These are your choices<br>
        </div>

        <div class="image-division" >
          <!-- image -->
          <iframe src="/zendo_iframe1.html" width=800 height=500 id="you-image-user2" name="game_frame_you-image-user2" tabindex="0"></iframe>
        </div>
      </div>

    <!-- Other side -->
      <div class="imagesDivisions" id = "other-imagesDivisions-2">
        <!-- Title -->
        <div class="image-title">
          These are <strong id = "user2-other-name"></strong>'s choices <br>
        </div>

          <div class="image-division">
            <!-- image -->
            <iframe src="/zendo_iframe1.html" width=800 height=500 id="other-image-user2" name="game_frame_other-image-user2" tabindex="0"></iframe>
          </div>
      </div>

    </div>
  <!-- Continue to Posterior div -->
    <div id="button-to-posterior-div">
      <p>Press continue to revise your initial choices</p>
      <button id = "button-to-posterior" type="button" name="continue" ><span>Continue</span></button>
    </div>
  </div>

<!-- Waiting for particiant division -->
<div id="waiting_area" style="background:#EBECF0">
  <div style = "text-align:center; font-size:20px;">
    Hey <%= username %>, thank you for joining our experiment! <br>
    Please enjoy this cutie while waiting for another participant to join :).<br>
      <div id="waiting-area-text" style = "text-align:center; font-size:15px;">
        Someone should enter within: <strong id ="lobby-count-down" ></strong>
        <br><br>
      </div>
    </div>
  <div align=center>
      <video  height=300 id="cat_vid" name="construction_mov" autoplay muted loop>
          <source src = "/movies/cat_vid.mp4" type="video/mp4">
      </video>
  </div>

  <div id="decision-waiting-lobby" style="display:none;" class='roww'>



      <div id="wait-more-button-div" class="coll">
        <button id="wait-more-button" type="button" name="button">
          <b>WAIT</b> <br>
          Wait longer and claim up to 7$ if someone else joins and finishes with you.</button>
      </div>

      <div id="go-to-debrief-button-div" class="coll">
        <button id="go-to-debrief-button" type="button" name="button">
          <b>MOVE ON</b> <br><br>
          Claim the basic pay of $1.5 and finish the task.</button>
      </div>

  </div>

</div>



<!-- ########################## Waiting area for the one who finishes first ######################### -->
<div id="waiting-area-after-trial" style="display:none; text-align:center; font-size:20px; margin-top: 20px">
  Please wait until <strong id = "user-finished2"></strong> finishes too.
</div>




  <!-- GAME FRAME -->
  <div id="game" style="visibility:hidden">
    <iframe src="/zendo_iframe.html" width=800 height=500 id="game_frame" name="game_frame" tabindex="0"></iframe>
    <div id="query2">
    </div>
    <div id="phase4-div" style="display:none">
      <textarea id="phase4-text" placeholder="Please enter your answer here" rows="4" cols="50" ></textarea>
      <button id="phase4btn" type="button" name="button" style="display:block">Continue</button>
    </div>
  </div>

  <!-- Phase 5 -->
  <div id="phase5-div" style="display:none; margin:5%">
    <div id="phase5inst" style="font-size:10px; margin-bottom: 15px">
      <p>
      &#8226 Based on your updated choices, please describe once more what makes a scene emit radiation.<br>
      &#8226 Try to make your description as <b>specific</b> as possible<br>
      &#8226 Use <b>unambiguous</b> phrases like "There must be at least..." / "There are at most.." / "There is exactly one..."<br>
      &#8226 <b>Remember:</b> the rule could be to do with any of the properties of the cones or their relationships, but has nothing to do with the name or what you did on previous tests<br>
      &#8226 If you can think of more than one rule that could be true, please list them<br>
      &#8226 If you cannot think of any rule that could be true, please say so<br>
      &#8226 Type your answer (at least 15 characters) in the box below to continue<br>
    </p>

  </div>

    <textarea id="phase5-text" placeholder="Please enter your answer here" rows="4" cols="50" ></textarea>


    <!-- Questions of phase 5 -->
    <form id="ewQ_FORM">
                    <h3>On a scale of 0-10 (where 10 is the highest possible expertise), please rate how expert you think the other player was in this round.</h3>
                    <ul class='likert'>
                      <li>
                        <input type="radio" name="EQ" value=0>
                        <label>Not expert at all</label>
                      </li>
                      <li>
                        <input type="radio" name="EQ" value=1>
                        <label></label>
                      </li>
                      <li>
                        <input type="radio" name="EQ" value=2>
                        <label></label>
                      </li>
                      <li>
                        <input type="radio" name="EQ" value=3>
                        <label></label>
                      </li>
                      <li>
                        <input type="radio" name="EQ" value=4>
                        <label></label>
                      </li>
                      <li>
                        <input type="radio" name="EQ" value=5>
                        <label>Moderately expert</label>
                      </li>
                      <li>
                        <input type="radio" name="EQ" value=6>
                        <label></label>
                      </li>
                      <li>
                        <input type="radio" name="EQ" value=7>
                        <label></label>
                      </li>
                      <li>
                        <input type="radio" name="EQ" value=8>
                        <label></label>
                      </li>
                      <li>
                        <input type="radio" name="EQ" value=9>
                        <label></label>
                      </li>
                      <li>
                        <input type="radio" name="EQ" value=10>
                        <label>Completely expert</label>
                      </li>
                    </ul>


                    <h3>On a scale of 0-10 (where 10 is highly trustworthy), please rate how trustworhy you think the other player was in this round.</h3>
                    <ul class='likert'>
                      <li>
                        <input type="radio" name="WQ" value=0>
                        <label>Not trustworthy at all</label>
                      </li>
                      <li>
                        <input type="radio" name="WQ" value=1>
                        <label></label>
                      </li>
                      <li>
                        <input type="radio" name="WQ" value=2>
                        <label></label>
                      </li>
                      <li>
                        <input type="radio" name="WQ" value=3>
                        <label></label>
                      </li>
                      <li>
                        <input type="radio" name="WQ" value=4>
                        <label></label>
                      </li>
                      <li>
                        <input type="radio" name="WQ" value=5>
                        <label>Moderately trustworthy</label>
                      </li>
                      <li>
                        <input type="radio" name="WQ" value=6>
                        <label></label>
                      </li>
                      <li>
                        <input type="radio" name="WQ" value=7>
                        <label></label>
                      </li>
                      <li>
                        <input type="radio" name="WQ" value=8>
                        <label></label>
                      </li>
                      <li>
                        <input type="radio" name="WQ" value=9>
                        <label></label>
                      </li>
                      <li>
                        <input type="radio" name="WQ" value=10>
                        <label>Completely trustworthy</label>
                      </li>
                    </ul>
      </form>

    <button id="phase5btn" type="button" name="button" style="display:block">Continue</button>
  </div>

  <!-- Debriefing -->
   <div id="debrief" class="frame" style="display:none;">
     <div id="user-left" style="display:none; font-size:30px; text-align:center;margin:5% 0">
           Unfortunately, the other user left the game. <br>
            You will be compensated for your time after you complete this form.<br>
            <br>
          </div>
          <h1>Demographics and Debrief</h1>
          <p>You are finished!  Thank you for your contributions to science. Please answer the following questions to receive your compensation.</p>

     <div class="instructions well">
         <form id="postquiz" action="debrief" method="post">
             <p>Do you have any comments regarding the experiment?</p>
             <textarea name="feedback" id="feedback" class="posttestQ" style="width:760px; height:100px;"  ></textarea>
             <br>
             <p>How did you decide which scenes emit radiation during your <b>initial choices</b>? Did you have a specific strategy?</p>
             <textarea name="init_strat" id="init_strat" class="posttestQ" style="width:760px; height:100px;"  ></textarea>
             <br>
             <p>How did you decide which scenes emit radiation during your <b>final choices choices</b> (after seeing the choices of the other player)? Did you have a specific strategy?</p>
             <textarea name="final_strat" id="final_strat" class="posttestQ" style="width:760px; height:100px;"  ></textarea>
             <br>
             <p><b>1.</b> How old are you?:
               <input id="ageinput" class="posttestQ" type="number" maxlength = "3" name="age" id="age" min="18" max="100" step = "1"> years
             </p>
             <p><b>2.</b> What is your gender?
             <select id="sex" name="sex" class="posttestQ">
                <option value="noresp" SELECTED></option>
                <option value="female">Female</option>
                <option value="male">Male</option>
                <option value="other">Other</option>
                <option value="noresponse">I’d prefer not to respond</option>
              </select>
             </p>
             <br/>
             <!-- beginning of a question -->
             <div class="row question">
                 <div class="col-md-8">
                     <b>3.</b>On a scale of 0-10 (where 10 is completely engaging), please rate how <b>ENGAGING</b> you found the task:
                 </div>
                 <div class="col-md-4">
                     <select id="engagement" name="engagement" class="posttestQ">
                         <option value="--" SELECTED>
                         <option value="10">10 - Very engaging</option>
                         <option value="9">9</option>
                         <option value="8">8</option>
                         <option value="7">7</option>
                         <option value="6">6</option>
                         <option value="5">5 - Moderately engaging</option>
                         <option value="4">4</option>
                         <option value="3">3</option>
                         <option value="2">2</option>
                         <option value="1">1</option>
                         <option value="0">0 - Not engaging</option>
                     </select>
                 </div>
             </div>
             <!-- end of a question -->
             <!-- beginning of a question -->
             <div class="row question">
                 <div class="col-md-8">
                     <b>4.</b>On a scale of 0-10 (where 10 is the most difficult), please rate how <b>DIFFICULT</b> you found the learning task:
                 </div>
                 <div class="col-md-4">
                     <select id="difficulty" name="difficulty" class="posttestQ">
                         <option value="--" SELECTED>
                         <option value="10">10 - Very difficult</option>
                         <option value="9">9</option>
                         <option value="8">8</option>
                         <option value="7">7</option>
                         <option value="6">6</option>
                         <option value="5">5 - Moderately difficult</option>
                         <option value="4">4</option>
                         <option value="3">3</option>
                         <option value="2">2</option>
                         <option value="1">1</option>
                         <option value="0">0 - Not difficult at all</option>
                     </select>
                 </div>
             </div>
             <!-- end of a question -->
             <!-- beginning of a question -->
             <div class="row question">
                 <div class="col-md-8">
                     <b>4.</b>On a scale of 1-7 (where 1 is very liberal and 7 is very conservative), please rate your <b>POLITICAL ORIENTATION</b>:
                 </div>
                 <div class="col-md-4">
                     <select id="pol_orientation" name="pol_orientation" class="posttestQ">
                         <option value="--" SELECTED>
                         <option value="7">7 - Very conservative</option>
                         <option value="6">6 - Conservative</option>
                         <option value="5">5 - Moderately conservative</option>
                         <option value="4">4 - Neutral</option>
                         <option value="3">3 - Moderately liberal</option>
                         <option value="2">2 - Liberal</option>
                         <option value="1">1 - Very liberal</option>
                     </select>
                 </div>
             </div>
             <!-- end of a question -->
         </form>
         <br>
         <button class="button" id="done_debrief" disabled>Done</button>
     </div>
   </div>

<!-- THANK YOU PAGE -->
<div id="thank-you" style="display:none;">
  <h1>Well done, you have completed the task!</h1>
  <p>Your completion code is: <strong id = "compl_code"></strong>. Please copy this number to mTurk</p>
  <!-- <button id = "btn-thank-you" type="button" name="button-thank-you">Exit</button> -->
</div>

<!-- Scripts -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/group/groupchat.js"></script>
<!-- <script src="/js/group/task.js"></script> -->
<script src="/json/zendo_cases.js" type="text/javascript" ></script>
<script src="/js/group/start_game.js" type="text/javascript"></script>

<script type="text/javascript">
window.onbeforeunload = function(){
         return 'Are you sure you want to leave?';
  };
</script>


</body>
